@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital@0;1&family=Source+Sans+3:ital,wght@0,900;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
}
/*NAV-BAR*/
nav{
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    z-index: 1;
}
.navbar{
    box-shadow: 0px 5px 25px rgba(0,0,0 ,0.6);
    background-color: #3853d8; 
}

.navbar  ul{
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    list-style: none;
    width: fit-content;

    
}

.navbar .nav-3 {
    display: flex;
    justify-content: flex-end;
    width: 172.05px;
}
.navbar .nav-2{
    display: flex;
    justify-content: center;
    margin: auto;
}
 
.navbar .nav-1 li:nth-child(1){
    margin: 0 0.5em;
}
.navbar .nav-1 li:nth-child(2){
    vertical-align: text-top;
    display: flex;
    align-content: top;
    border-left: 0.001cm solid whitesmoke;
}
.navbar .nav-3 li:nth-child(2){
    
    border-left: 0.001cm solid whitesmoke;
}

.navbar .nav-1 li:nth-child(3){
    padding-left: 5px;
    padding-right: 5px;
    border-right: 0.001cm solid whitesmoke;
}

.navbar .txtnav{
    font-family: "Roboto", sans-serif;
}
.navbar .sel
{
    font-size: 0.65rem; 
    color:white;
}
.navbar .cat{
    display: block; 
    font-size: 0.75rem; 
    color: white;
}


.ico {
    min-width: 20%;
    scale: 80%;
    cursor: pointer;

}

@media only screen and (max-width: 550px) {  
    .navbar .nav-1 li:nth-child(1){
        margin: 0 0.1em;
    }

}
@media only screen and (max-width: 433px) {
    .navbar .nav-1 .nav1-text{
        display: none;
    } 
    .navbar .nav-1{
        width: min-content;
    }
    .navbar .nav-2 {
        display: flex;
        width: 102.4px;
        margin: auto;
        box-sizing: content-box;

    }

    .navbar .nav-3 li{
        width: 25%;
        display: flex;
        justify-content: center;
    }
    .navbar .nav-3{
        width: 99.4px;
        display: flex;
        justify-content: center;
    }

    .navbar .nav-3 li:nth-child(2){
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar .nav-3 li:nth-child(3){
        margin-right: 3%;
    }
}
/* Shop Front */

.front-text-container{
    position: relative;
    padding-top: 1rem;
    z-index: -2;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #3853d8;
    height: 14rem;
    
    
}
.front-head{
    font-family: "Roboto", sans-serif;
    justify-content: center;
    
}
a{
  
}
.front-productpage{
    background: rgb(211,219,255);
    background: linear-gradient(0deg, rgba(211,219,255,1) 0%, rgba(255,255,255,1) 100%); 
    margin: 0 10%;
    margin-top: -7rem;
    padding-bottom: 10vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
@media screen and (max-width: 1400px) {
    .front-productpage{
        margin: 0 3%;
        margin-top: -7rem;
    }
    
}
.aeo{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: contain;
}
.product-img3{
    border: 2px solid black;
    background-color: white;
    width: 380px;
    height: 200px;
}

.front-product{
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
}
.front-other-products{
    height: min-content;
    margin: 0px;
    
    
}
.front-other-container{
   margin-top: 50px;
   font-family: "Montserrat", sans-serif;    
   
    
}
.front-other {
    /* width: fit-content; */
}
.front-other2 {

    /* width: fit-content; */
}
.product-img{
    max-width: 400px;
    max-height: 400px;
 background-color: white;
 border-radius: 10px;
}
.product-img:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(228, 228, 228);
}
.product-img2{
    max-width: 8rem;
    background-color: white;
    border-radius: 15px;
    margin-left: 0.5rem;
    
}
.product-img2:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(228, 228, 228);
}
.product-img-container{
    display: flex;
    max-height: 400px;
    
}
.forimg{
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    overflow: hidden;
    justify-content: space-between;
}
.abc{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px  solid gray;
}
.front-title{
    margin-top: 6rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 6rem;
    height: fit-content;
}
.cart-notification{
    background-color: rebeccapurple;
    position: absolute;
    left: 50%;
}

.other-img-container{
    margin: auto;
}

.other-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.other td{
    /* background-color: aliceblue; */
    border:  1px solid gray;
    border-radius: 12px;

}
.other td:hover{
    transition: 0.2s ease-in-out;
    background-color: rgba(228, 228, 228, 0.5);
    scale: 105%;
}
.other {
    border-collapse:collapse;
}

.other img {
    max-width:40%;
}
.front-productcategory{
    
}
.front-productcolor{

}
.front-productname{
margin-bottom: 2rem;
}
.front-coloroptions{
}

.color{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}
.color::before{
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    vertical-align: middle;
}
.c1::before{
    background-color: blue;
}
.c2::before{
    background-color: green;
}
.c3::before{
    background-color: gray;
}
.color:checked::before{

}
.color:hover::before{
    
}
.front-quantity{
    border: 2px solid black;
    border-radius: 25px;
    width: fit-content;
    margin-left: 5%;
    
}

.front-quantity .num{
    font-family: "Montserrat", sans-serif;
    margin: 0 10px 0 8px;
    font-size: 1.5em;
    font-weight: 500;
}

.front-price{
    font-family: TT Norms Medium,sans-serif;
    font-size: 2rem;
}
.front-buy-container{
    display: flex;
    flex-direction: row;
}
.front-buy{
    border: 1px solid rgb(156, 156, 156);
    border-radius: 20px;
    width: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: rgb(56,83,216);
    background: radial-gradient(circle, rgba(56,83,216,1) 22%, rgba(94,115,223,1) 100%, rgba(148,162,233,1) 100%); 
}
.front-buy:hover{
    transition: 0.3s ease-in-out;
    scale: 105%;
}
.dont{
    margin-left: 10px;
}
.front-buy td a{
    margin-right: 5px;
    font-size: large;
    color: white;
}
/* .center{
    farkenar@gmail.com 
}*/
@font-face {
    font-family: 'TT Norms Medium';
    font-style: normal;
    font-weight: normal;
    src: local('TT Norms Medium'), url('TTNorms-Medium.woff') format('woff');
    }
    @media screen and (max-width: 1150px) {
        .front-title{
            margin-top: 3rem;
            margin-left: 4rem;
        }
        .product-img{
            max-width: 300px;
            max-height: 300px;
        }
        .product-img2{
            max-width: 6.1rem;
        }
    
    }
    @media screen and (max-width: 920px) {
        .front-title{
            margin-top: 3rem;
            margin-left: 2rem;
            font-size: 12px;
        }
        .front-productcolor{
            font-weight: normal;
            font-size: 24px;
        }
        
    }
    @media screen and (max-width: 880px) {
        .product-img{
            max-width: 270px;
            max-height: 270px;
        }
        .product-img2{
            max-height: 4.8rem;
        }
    }

    @media screen and (max-width: 840px) {
        .front-title{
            margin-top: 3rem;
            margin-left: 3rem;
            font-size: 12px;
        }
            .product-img{
            max-width: 250px;
            max-height: 250px;
        }
        .product-img2{
            max-height: 5rem;
        }
        .front-buy{
            scale: 80%;
            margin-left: -0.35rem;
        }
        .front-quantity{
            scale: 80%;
            margin-left: -0.25rem;
        }
        .front-price{
         font-size: 1.5rem;   

        }
        .front-buy-container{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        
    }
    @media screen and (max-width: 750px) {
        .front-title{
            margin-left: 1.5rem;
        }
        .other-text-container{
            margin-left: 4px;
            font-size: 12px;
        }
        .dont{
            margin-left: 5px;
            
        }
        
    }
    @media screen and (max-width: 700px) {

        .front-buy{
            scale: 75%;
            /* margin-left: -0.8rem; */
        }
        .front-quantity{
            scale: 75%;
            margin-left: -0.25rem;
        }
        .front-price{
         font-size: 1.4rem;   

        }

        
    }
    @media screen and (max-width: 685px) {

        .product-img{
            max-width: 220px;
            max-height: 220px;
        }
        .product-img2{
            max-height: 4.4rem;
        }
        
    }
    @media screen and (max-width: 645px) {
        
        .product-img{
            max-width: 200px;
            max-height: 200px;
        }
        .product-img2{
            max-height: 4rem;
        }
        .color::before{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    @media screen and (max-width: 620px) {
        
        .product-img{
            max-width: 190px;
            max-height: 190px;
        }
        .product-img2{
            max-height: 3.5rem;
        }
        .color::before{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    @media screen and (max-width: 600px) {
        
        .product-img{
            max-width: 190px;
            max-height: 190px;
        }
        .product-img2{
            max-height: 3.5rem;
        }
        .front-buy{
            scale: 70%;
            margin-left: -0.8rem;
        }
        .front-quantity{
            scale: 70%;
            margin-left: -0.25rem;
        }
        .front-price{
         font-size: 1.2rem;   

        }
    }
    @media screen and (max-width: 585px) {
        
        .product-img{
            max-width: 170px;
            max-height: 170px;
        }
        .product-img2{
            max-height: 3.4rem;
        }
        .front-buy{
            scale: 70%;
            margin-left: -1rem;
        }
        .front-quantity{
            scale: 70%;
            margin-left: -0.25rem;
        }
        .front-price{
         font-size: 1.2rem;   

        }
        .front-title{
            margin-left: 1rem;
            margin-top: 1.5rem;

        }
        .front-productpage{
            font-size: 10px;
            margin: 0 2%;
            margin-top: -7rem;

        }
        .product-img-container{
            margin-right: 10px;
        }
        .front-other-container{
            font-size: 0.8rem;
        }
    }
    @media screen and (max-width: 525px) {
        .front-title{
            scale: 90%;
        }
        .product-img{
            max-width: 150px;
            max-height: 150px;
        }
        .product-img2{
            max-height: 3rem;
        }
        .other-text-container{
            font-size: 10px;
        }
    }
    @media screen and (max-width: 500px) {
        .abc{
            display: flex;
            flex-direction: column;
        }
        .front-title{
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 2rem;
            scale: 100%;
            font-size: 1rem;

        }
        .product-img{
            max-width: 200px;
            max-height: 200px;
        }
        .product-img2{
            max-height: 4rem;
        }
        .front-product{
            display: flex;
            justify-content: center;
        }
        .front-productcolor{
            margin-top: -1rem;
        }
        .other td:nth-child(4){
            display: none;
        }
        .other-text-container{
            margin-left: 4px;
            font-size: 10px;
        }
    }

    /* LOGIN */
    .logincontainer{
        display: flex;
        background-color: rebeccapurple;
    }
/* CART */
.cart-ico{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
}
.cart-all{
    display: flex;
    padding-top: 2%;
    background-color: rebeccapurple;
    margin: 0 10%;
}
.cart-product-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: first baseline;
}
.cart-product-img-container{
    width: fit-content;
}
.cart-product-img{
    max-width: 150px;
    /* background-color: white; */
}
.cart-product-name{
   font-family: "Montserrat", sans-serif;    
   font-size: 2rem;
    
}
.cart-product-price{
   font-family: "Montserrat", sans-serif;    
   font-size: 2rem;


}
.cart-product{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 0 5% 5%;
    border: 2px solid white;
    border-radius: 10px;
    /* background-color: red; */
    /* align-items: center; */
}
/* USERPAGE */
.userpage-container{
    display: flex;
    justify-content: center;
    background-color: #3853d8;
    margin: 2% 20% 0 20%;
    border-radius: 10px;
    padding-bottom: 20%;
}
.userpage{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.userpage-name{
   font-family: "Montserrat", sans-serif;    
   font-size: 2rem;
   margin-bottom: 2rem;
   

}
.addproduct-button{
    width: 100px;
    height: 20px;
    margin-left: 1rem;
}
.addproduct-name{
   font-family: "Montserrat", sans-serif;    
    
}
.addproduct-container{
    display: flex;
    align-items: center;
}
